<div class="about-section">
    <h1 style="text-align: center;">About Us </h1>
    
    
      <div class="container">
        <div  class="row mar0">
          <div class="col-sm-8 pad0 padr-20">
            <h2 >ABOUT <span class="maintitle" style="color: red;">HEALTH & FITNESS</span></h2>
            <p  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;">After years of experience in Health & Fitness, we came with this unique concept to bring all health related activities under one roof. <span class="fw-600">Health & Fitness  is a network of luxury Gym, Group Fitness Studio.</span> Where people from all age group can walk-in for Health, Fitness, Relaxation & Rejuvenation .</p>
            <div >
              <h3 class="title"><i nz-icon nzType="check" nzTheme="outline"></i> What we are</h3>
              <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;" class=" padt20">We aren't just a Gym or Yoga Studio, we are a lifestyle that feels like coming home a hidden sanctuary in MUMBAI for you to escape and find a quiet, the passion, the authentic moment .</p>
            </div>
            <div >
             
              <h3 class="title padt20"><i nz-icon nzType="check" nzTheme="outline"></i> Our Aim</h3>
              <p class="padt20" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;">The AIM is to offer MUMBAI, another space or sociologist. we call it a Third Place where people meet to unwind, discuss and talk about things that matters to them, their neighborhood and their community, where they can let down their guard, relax by themselves, develop new friends & deepen existing ones .</p>
            </div>
          </div>
          <!-- class="col-sm-4 pad0 padl-20" -->
          <div class="col-sm-4 pad0 padl-20">
            <img  src="assets/img/about-girl.png" class="img-fluid">
          </div>
          
          <div class="col-sm-12 slogan pad0">
            <h3><p style="color: red;text-align: center;">" Step inside and Join our Health Revolution "</p></h3>
          </div>
        </div>
      </div>
 
      <br><br><br>

       <section class="contact padtb50" id="andheri-branch">
        <div class="container">
          <div class="row mar0">
            <div class="col-sm-5 pad0 padr-20">
              <h2 class="text-dark fw-600">Mira Road Branch</h2>
              <p></p>
              <p style="font-size: 17px;"><i class="fa brand-color fa-map-marker"></i>&nbsp;&nbsp;&nbsp; 4th Floor Mehta House /Idea Square, Above Kalyan Jewellers, 42-Veera Industrial Estate,  Opp Citi Mall, Mira Road (West), Thane - 401107.</p>
              <p style="font-size: 17px;"><i class="fa fa-phone brand-color"></i>&nbsp;&nbsp;&nbsp; 7757864508, 907606501/2</p>
              <p style="font-size: 17px;"><i class="fa fa-envelope-o brand-color"></i>&nbsp;&nbsp;&nbsp; health&fitness
                
                
                
                
                
                
                
                @gmail.com</p>
            </div>
            <div  class="col-sm-7 pad0 padl-20">
              <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.286999687398!2d72.82976991442558!3d19.13891045496654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63cb9ac64a9%3A0x63e7e8a9f91769e9!2sIDEA+SQUARE+BUSINESS+CENTRE!5e0!3m2!1sen!2sin!4v1557135546412!5m2!1sen!2sin" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>
  </div>
  
